n8n_lead_webhook.json
{
  "name": "Skvortsov ADV — заявки с сайта → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://skvortsovadv.ru"
        }
      },
      "id": "wh-lead",
      "name": "Webhook (форма)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "skvortsov-adv-lead-form"
    },
    {
      "parameters": {
        "chatId": "ВАШ_CHAT_ID",
        "text": "=🆕 Заявка с сайта skvortsovadv.ru\n\n👤 Имя: {{ $json.body.name }}\n📞 Телефон: {{ $json.body.phone }}\n✉️ Email: {{ $json.body.email || '—' }}\n📝 Задача: {{ $json.body.task || '—' }}\n🔗 {{ $json.body.page }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "tg-send",
      "name": "Telegram → мне",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [540, 300],
      "credentials": {
        "telegramApi": { "id": "ВЫБЕРИ_СВОЙ_БОТ", "name": "SkvortsovADV bot" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "https://skvortsovadv.ru" }
            ]
          }
        }
      },
      "id": "resp-ok",
      "name": "Ответ сайту",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Webhook (форма)": { "main": [[{ "node": "Telegram → мне", "type": "main", "index": 0 }]] },
    "Telegram → мне": { "main": [[{ "node": "Ответ сайту", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
